* {
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: auto;
}
header {
    height: 100px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    text-transform: uppercase;
    /* border-bottom: 1px solid #000000; */
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
}
.nav-btn {
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    justify-content: center;
    gap: 10px;
}
.nav-btn li {
    list-style: none;
}
.nav-btn a {
    background: #ff0000;
    color: #ffffff;
    border-radius: 15px;
    text-decoration: none;
    padding: 10px 25px;
}
.nav-btn a:hover {
    background: #650000;
    transition: all 0.5s ease-in-out;
}
.logo a {
    color: #000000;
    font-size: 35px;
    text-decoration: none;
}


.login {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;

}
#header {
    text-transform: capitalize;
    font-size: 41px;
    margin-bottom: 10px;
    cursor: pointer;
}
.with-acc {
    /* width: 100px; */
    display: flex;
    justify-content: space-between;
}
.twitter,
.google,
.facebook {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    border: 1.5px solid #00000056;
    cursor: pointer;
}
.twitter:hover,
.google:hover,
.facebook:hover {
    color: #ffffff;
    background: #f45905;
    transition: all 0.5s ease-in-out;
}
.facebook {
    text-transform: lowercase;
    font-size: 20px;
}
input {
    height: 45px;
    width: 300px;
    padding-left: 10px;
    text-transform: capitalize;
    border-radius: 10px;
    border: none;
    background: #0000001d;
}
a {
    color: #000000;
    /* text-decoration: none; */
    text-transform: capitalize;
}

.btn {
    color: #ffffff;
    background: #fa5801;
    padding: 10px 50px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.btn:hover {
    color: #000000;
    background: #d59979;
    transition: all 0.5s ease-in-out;
}

h2 {
    font-size: 32px;
}